body {
	background: #000;
}

#videoCanvas {
	position: absolute;
	bottom: 0;
	right: 0;
  width: 100%;
}

.debug {
  border: 2px red dotted;
  background: #361919;
  /* Fall-back for browsers that don't support rgba */

  background: rgba(54, 25, 25, 0.5);
  box-sizing: border-box;
}

body {
  overflow: hidden;
  margin: 0;
}

#terminal {
  z-index: 9999;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 300px;
  display: block;
  top: 0;
  left: 0;
  border-bottom: 1px solid #fff;
}

#terminal a {
  color: #fff;
  text-decoration: none;
  font-weight: normal;
}

#starttext {
  width: 200px;
  margin: 10px;
}

.hide-when-small {
  display: none;
}

.docker-btn {
  border: none;
  color: white;
}

.docker-btn-large {
  font-size: 22px;
  padding: 10px 15px 10px 15px;
}

.docker-btn-blue {
  border: none;
  color: white;
  background: #008bb8;
  /* Old browsers */

  background: -moz-linear-gradient(top, #008bb8 0%, #00617f 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #008bb8), color-stop(100%, #00617f));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #008bb8 0%, #00617f 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #008bb8 0%, #00617f 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #008bb8 0%, #00617f 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #008bb8 0%, #00617f 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#008bb8', endColorstr='#00617f', GradientType=0);
  /* IE6-9 */

}

.docker-btn-blue:enabled:active {
  border: none;
  color: white;
  background: #00617f;
  /* Old browsers */

  background: -moz-linear-gradient(top, #00617f 0%, #008bb8 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00617f), color-stop(100%, #008bb8));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #00617f 0%, #008bb8 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #00617f 0%, #008bb8 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #00617f 0%, #008bb8 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #00617f 0%, #008bb8 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00617f', endColorstr='#008bb8', GradientType=0);
  /* IE6-9 */

}

.docker-btn-blue:disabled {
  color: white;
  background: #4f727c;
  /* Old browsers */

  background: -moz-linear-gradient(top, #4f727c 0%, #89acb7 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4f727c), color-stop(100%, #89acb7));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #4f727c 0%, #89acb7 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #4f727c 0%, #89acb7 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #4f727c 0%, #89acb7 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #4f727c 0%, #89acb7 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4f727c', endColorstr='#89acb7', GradientType=0);
  /* IE6-9 */

}

#tutorialTop .closeButton {
  position: relative;
  float: right;
  margin: 6px;
  width: 18px;
  height: 18px;
}

#progress-indicator {
  margin-top: 20px;
  margin-right: 20px;
  float: right;
  cursor: hand;
}

.progress-marker {
  position: relative;
  float: left;
  margin-right: 5px;
  cursor: hand;
}

.progress-marker svg {
  width: 30px;
  height: 30px;
}
.progress-marker circle {
  fill: #eaeaea;
}
.progress-marker text {
  fill: black;
}
.progress-marker.complete circle {
  fill: green;
}
.progress-marker:hover circle {
  fill: #01b0ee;
}
.progress-marker:active circle {
  fill: #ff810a;
}
.progress-marker.active circle {
  fill: #ff810a;
}
.complete img {
  height: 45px;
  width: 45px;
  margin-top: 10px;
  margin-right: 10px;
}
.complete ol li {
  margin-bottom: 10px;
  font-weight: bold;
}

.terminal .terminal-output .format, .terminal .cmd .format,
.terminal .cmd .prompt, .terminal .cmd .prompt div, .terminal .terminal-output div div{
    display: inline-block;
}
.terminal .clipboard {
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0.01;
    filter: alpha(opacity = 0.01);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.01);
    width: 2px;
}
.cmd > .clipboard {
    position: fixed;
}
.terminal {
    padding: 10px;
    position: relative;
}
.cmd {
    padding: 0;
    margin: 0;
    height: 1.3em;
    margin-top: 3px;
}
.terminal .terminal-output div div, .terminal .prompt {
    display: block;
    line-height: 14px;
    height: auto;
}
.terminal .prompt {
    float: left;
}

.terminal {
    font-family: FreeMono, monospace;
    color: #fff;
    background-color: rgba(53, 9, 41, 0.9);
    font-size: 12px;
    line-height: 14px;
}
.terminal-output > div {
    padding-top: 3px;
}
.terminal .terminal-output div span {
    display: inline-block;
}
.terminal .cmd span {
    float: left;
    /*display: inline-block; */
}
.terminal .cmd span.inverted {
    background-color: #aaa;
    color: #000;
}
.terminal .terminal-output div div::-moz-selection,
.terminal .terminal-output div span::-moz-selection,
.terminal .terminal-output div div a::-moz-selection {
    background-color: #aaa;
    color: #000;
}
.terminal .terminal-output div div::selection,
.terminal .terminal-output div div a::selection,
.terminal .terminal-output div span::selection,
.terminal .cmd > span::selection,
.terminal .prompt span::selection {
    background-color: #aaa;
    color: #000;
}
.terminal .terminal-output div.error, .terminal .terminal-output div.error div {
    color: red;
}
.tilda {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1100;
}
.clear {
    clear: both;
}
.terminal a {
    color: #0F60FF;
}
.terminal a:hover {
    color: red;
}

#st-launcher-tab {
  display: none;
}

.mainWrap {
  background: red;
}

#toggleTerminal
{
  text-align: center;
  width: 160px;
  position: absolute;
  bottom: -36px;
  left: 0;
  padding: 10px;
  background-color: rgba(53, 9, 41, 0.9);
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
}

#switchLazer
{
  text-align: center;
  width: 160px;
  position: absolute;
  bottom: -36px;
  left: 180px;
  padding: 10px;
  background-color: rgba(53, 9, 41, 0.9);
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
}

#initPoz
{
  text-align: center;
  width: 160px;
  position: absolute;
  bottom: -36px;
  left: 360px;
  padding: 10px;
  background-color: rgba(53, 9, 41, 0.9);
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
}

#mirrorPoz
{
  text-align: center;
  width: 160px;
  position: absolute;
  bottom: -36px;
  left: 540px;
  padding: 10px;
  background-color: rgba(53, 9, 41, 0.9);
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
}

#screen1
{
  text-align: center;
  width: 160px;
  position: absolute;
  bottom: -36px;
  left: 720px;
  padding: 10px;
  background-color: rgba(53, 9, 41, 0.9);
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
}

#screen2
{
  text-align: center;
  width: 160px;
  position: absolute;
  bottom: -36px;
  left: 900px;
  padding: 10px;
  background-color: rgba(53, 9, 41, 0.9);
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  border-bottom-right-radius: 15px;
}